* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2 {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
}

h2 + h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #cecece;
}

h2.temperature {
    display: inline;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
    color: #fff;
}

h4:first-child {
    font-size: 1.25rem;
    font-weight: 400;
    color: #cecece;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
    opacity: 1;
    z-index: -1;
    position: fixed;
    filter: blur(5px) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a');
}

.bg-image.previous {
    opacity: 0;
    z-index: -2;
}

.bg-container {
    user-select: none;
}

.fade-out {
    animation: fade 1s 1 ;
}

.text-container {
    width: 100%;
    height: 100%;
    padding: 2rem 8vw;
    display: grid;
    justify-items: center;
    position: absolute;
    z-index: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    text-align: center;
}

.search-container {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    grid-row: 2 / 3;
    display: grid;
    justify-content: center;
    align-items: center;    
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.heading {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temp-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-icon-container img{
    height: 8rem;
}

.feels-like {
    font-size: 1.25rem;
    font-weight: 400;
    color: #cecece;
}

.weather-basic-data {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    flex-direction: column;
}

.more-weather-data {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

[type="search"] {
    width: 100%;
    padding: 0rem 2rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    font-size: 1.75rem;
    font-weight: 400;
    color: #000;
    background-color: #ffffff00;
    transition: all 0.3s ease-in-out;
}

[type="search"]::placeholder {
    color: #2b2b2b;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../dist/images/cancel.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.search-btn {
    padding: 0.75rem 0.75rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    font-size: 1.75rem;
    font-weight: 400;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.search-btn span {
    font-size: 2.5rem;
}

.search-container {
    max-height: 5rem;
    padding: 0rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color:#ffffff00;
    transition: all 0.2s ease-in-out;
}

.search-container:hover {
    background-color: #ffffff22;
}

.search-btn:hover {
    background-color: #ffffff22;
}

.bg-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.2);
    position: fixed;
    top: 0;
    z-index: -1;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@media screen and (max-width: 768px) {
    .text-container {
        padding: 2rem 4vw;
        grid-template-columns: 1fr;
    }

    .weather-container {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 3fr;
    }

    .weather-basic-data {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        align-items: center;
    }

    .more-weather-data {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        align-items: center;
    }
    .temp-icon-container img{
        height: 6rem;
    }

    .feels-like {
        font-size: 1rem;
    }

    .heading {
        margin-bottom: 1rem;
    }

    .search-container {
        max-height: 4rem;
    }

    .search-btn {
        padding: 0.5rem 0.5rem;
    }

    .search-btn span {
        font-size: 2rem;
    }

    .search-container {
        padding: 0rem 0.25rem;
    }

    .search-input {
        padding: 0rem 0.25rem 0rem 1rem;
    }

    .location {
        font-size: 2.5rem;
    }

    .location + h3 {
        font-size: 1.25rem;
    }

    [type="search"] {
        font-size: 1.5rem;
    }
    
}